/**
 * @Description:
 * @Author: XuShuai
 * @Date: 2023-10-28 22:00:09
 * @LastEditors: XuShuai
 * @LastEditTime: 2025-05-11 15:19:53
 * @FilePath: src/assets/style/var/var.scss
 */
$cyan: #008b8b;
$wh: #fff;
$shadow-dark: #bcbbc1;
$color-shadow: rgba(0, 0, 0, 0.25);

:root {
  --nav-height: 54px;
  --text-color: $wh;
  --z-index-bottom-nav: 10;
}
