//noinspection CssInvalidAtRule
@import-normalize;
@import 'style/var/var';
@import 'style/helpers/font';

* {margin: 0; padding: 0;}

* {box-sizing: border-box;}

*::before,
*::after {box-sizing: border-box;}

ul,
ol {list-style: none;}

a {text-decoration: none; color: inherit;}

body {
  font-family: $font-hei;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.2;
}

code {
  font-family: $font-code;
}
