@import 'assets/style/common/reset';
@import 'assets/style/helpers/font';
@import 'assets/style/var/var';
@import 'assets/style/placeholder/common-placeholder';
@import 'assets/style/mixins/common-mixins';

/**
 * @Description: 全局
 * @Author: XuShuai
 * @Date: 2023-12-11 05:25:32
 * @LastEditors: XuShuai
 * @LastEditTime: 2025-05-11 15:37:47
 * @FilePath: src/assets/style/common/global.scss
 */
body {
  font-family: $font-hei;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.2;
  background: #f5f5f5;
}

code {font-family: $font-code;}

.icon {
  width: 1em;
  height: 1em;
}

.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}

.one-line {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
