/**
 * @Description: 重置样式
 * @Author: XuShuai
 * @Date: 2023-12-11 05:25:32
 * @LastEditors: XuShuai
 * @LastEditTime: 2024-12-21 21:22:36
 * @FilePath: src/assets/style/common/reset.scss
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {list-style: none;}

a {text-decoration: none; color: inherit;}

button,
input {
  border: 1px solid transparent;
  border-radius: 0;
  font: inherit;
}

// 去除黄色高亮聚焦样式
:focus {outline: none;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
